@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --cor-texto: #263a5e;
    --cor-fundo: #fff8f5;
    --cor-fundo-2: #fff8f5;
    --cor-destaque: #ffaba2;
    --cor-destaque-light: #ffc1bb;
    --container-max-width: 1080px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: var(--cor-texto);
    letter-spacing: 1px;
}

body{
    background-image: radial-gradient(circle at 0% 0%, var(--cor-fundo), var(--cor-fundo-2));
    background-color: var(--cor-fundo);
}

input::placeholder{
    color: #bbbbbb;
}

a{
    transition: color .3s ease;
}

a:hover{
    color: var(--cor-destaque);
    cursor: pointer;
}

p{
    line-height: 20pt;
}

.overflow-hidden{
    overflow: hidden!important;
}

.mobile{
    display: none;
}

#navbar{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 40px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: var(--container-max-width);
    width: 100%;
}

#navbar .logo{
    font-size: 24pt;
    font-weight: 600;
    font-family: 'Great Vibes';
    text-decoration: none;
}

#navbar .menus{
    display: flex;
    gap: 60px;
    list-style: none;
}

#navbar .menus .menu a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    gap: 10px;
}

#navbar .menus .menu a::after{
    content: '';
    height: 1px;
    width: 0;
    transition: width .3s ease;
    background-color: currentColor;
    margin-bottom: -10px;
}

#navbar .menus .menu a:hover::after{
    width: 50%;
}

#navbar .menus .menu.active a{
    color: var(--cor-destaque)
}

#navbar .menus .menu.active a::after{
    width: 50%;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 768px;
    max-width: var(--container-max-width);
    width: 100%;
    margin: 0 auto;
    padding: 40px;
}

#header .content{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#header .content .title{
    font-size: 38pt;
}

#header .content .title, #header .content .description{
    max-width: 480px;
    width: 100%;
}

#header .content .button{
    background-color: var(--cor-destaque);
    width: max-content;
    color: #ffffff;
    padding: 20px 30px;
    border-radius: 1000px;
    text-decoration: none;
    font-size: 14pt;
    box-shadow: 0 30px 60px rgba(0, 0, 0, .2);
    transition: .3s ease;
}

#header .content .button:hover{
    background-color: var(--cor-destaque-light);
}

#header .image{
    width: 480px;
    height: 480px;
    filter: drop-shadow(0 30px 60px rgba(0, 0, 0, .2));
}

#content{
    display: flex;
    flex-direction: column;
    gap: 140px;
    padding: 40px;
    max-width: var(--container-max-width);
    width: 100%;
    margin: 0 auto;
}

#content > section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

#content > section .title{
    text-align: center;
    font-size: 36pt;
}

#content .services-resume{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: calc(-40px - 115px / 2);
}

#content .services-resume .service{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-radius: 1000px;
    background-color: #ffffff;
}

#content .services-resume .service .icon{
    width: 75px;
    height: 75px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #8e99ab;
    flex: none;
}

#content .services-resume .service .icon img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 50%;
    height: 50%;
    object-fit: cover;
}

#content .services-resume .service .text{
    font-weight: bold;
    white-space: nowrap;
}

#content .featured-services .wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    width: 100%;
}

#content .featured-services .wrapper .service{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    cursor: pointer;
}

#content .featured-services .wrapper .service .service-title{
    font-size: 16pt;
    color: #a5a4ad;
    transition: .3s ease;
}

#content .featured-services .wrapper .service:hover .service-title{
    color: var(--cor-destaque);
}

#content .featured-services .wrapper .service .image{
    padding-top: calc((16 / 13) * 100%);
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 30px 120px rgba(0, 0, 0, .1);
}

#content .featured-services .wrapper .service .image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#content .row-section{
    flex-direction: row;
}

#content .row-section .title{
    text-align: left;
}

#content .row-section .image{
    max-width: 480px;
    width: 100%;
    flex: none;
    filter: drop-shadow(0 30px 60px rgba(0, 0, 0, .1));
}

#content .row-section .main-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#content .row-section .main-content .button{
    padding: 20px 40px;
    color: #ffffff;
    background-color: var(--cor-destaque);
    border-radius: 1000px;
    width: max-content;
    text-decoration: none;
    font-size: 14pt;
    box-shadow: 0 30px 60px rgba(0, 0, 0, .2);
    transition: .3s ease;
}

#content .row-section .main-content .button:hover{
    background-color: var(--cor-destaque-light);
}

#content .customers-reviews .wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

#content .customers-reviews .wrapper .review{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#content .customers-reviews .wrapper .review .message{
    background-color: #ffffff;
    padding: 80px 60px 100px 60px;
    border-radius: 20px;
    position: relative;
    transition: .3s ease;
    cursor: pointer;
}

#content .customers-reviews .wrapper .review .message::before{
    content: '';
    width: 150px;
    height: 150px;
    color: #f7f7f7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3D(-50%, -50%, 0);
    background-image: url('./../svg/citação.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.03;
    transition: .3s ease;
}

#content .customers-reviews .wrapper .review .message .text{
    transition: .3s ease;
}

#content .customers-reviews .wrapper .review .message .arrow{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 100%;
    left: 15%;
    fill: #ffffff;
    transition: .3s ease;
}

#content .customers-reviews .wrapper .review .message:hover{
    background-color: var(--cor-destaque);
    box-shadow: 0 30px 60px rgba(0, 0, 0, .1);
}

#content .customers-reviews .wrapper .review .message:hover::before{
    opacity: 0;
}

#content .customers-reviews .wrapper .review .message:hover .text{
    color: #ffffff;
}

#content .customers-reviews .wrapper .review .message:hover .arrow{
    fill: var(--cor-destaque);
}

#content .customers-reviews .wrapper .review .client {
    display: flex;
    align-items: center;
    gap: 20px;
}

#content .customers-reviews .wrapper .review .client .image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

#content .customers-reviews .wrapper .review .client .info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#content .customers-reviews .wrapper .review .client .info *{
    letter-spacing: normal;
}

#content .customers-reviews .wrapper .review .client .info .name{
    font-weight: bold;
}

#content .customers-reviews .wrapper .review .client .info .service{
    font-size: 8pt;
}

#content .video-example{
    flex-direction: column;
}

#content .video-example .iframe-container{
    padding-top: calc((9 / 16) * 100%);
    position: relative;
    background: #000;
    width: 100%;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0 30px 60px rgba(0, 0, 0, .2);
}

#content .video-example .iframe-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#content .contact .image{
    border-radius: 40px;
}

#content .contact .title{
    text-align: center;
}

#content .contact .form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#content .contact .form input{
    padding: 25px;
    border-radius: 1000px;
    border: none;
    font-size: 12pt;
    outline: none;
}

#content .contact .form input[type="submit"]{
    background-color: #ffaba2;
    color: #ffffff;
    transition: .3s ease;
    cursor: pointer;
}

#content .contact .form input[type="submit"]:hover{
    background-color: var(--cor-destaque-light);
}

#footer{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--cor-fundo-2);
    margin-top: 100px;
}

#footer .columns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "col1 col2 col3" "col4 col5 col5";
    max-width: var(--container-max-width);
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    gap: 60px;
}

#footer .columns .column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#footer .columns .column.one{
    grid-area: col1;
}

#footer .columns .column.two{
    grid-area: col2;
}

#footer .columns .column.three{
    align-items: flex-end;
    grid-area: col3;
}

#footer .columns .column .logo{
    font-size: 24pt;
    font-weight: 600;
    font-family: 'Great Vibes';
    text-decoration: none;
}

#footer .columns .column.four{
    grid-area: col4;
}

#footer .columns .column.four .copyright{
    font-size: 10pt;
    letter-spacing: 0;
}

#footer .columns .column.five{
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
    grid-area: col5;
}

#footer .columns .column.five a{
    font-size: 10pt;
    text-decoration: none;
    height: max-content;
    letter-spacing: 0;
}

#footer .columns .column .list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
}

@media (max-width: 853px) {
    .desktop{
        display: none!important;
    }

    .mobile{
        display: block;
    }

    #navbar{
        position: static;
        transform: none;
    }

    #navbar .friesMenu{
        display: flex;
        width: 50px;
        height: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 9px;
        flex: none;
        cursor: pointer;
    }
    
    #navbar .friesMenu span{
        background-color: currentColor;
        height: 6px;
        border-radius: 1000px;
        width: 70%;
        transition: .3s ease;
    }
    
    #navbar .friesMenu span:nth-child(2){
        width: 100%;
    }
    
    #navbar .friesMenu.opened span{
        width: 100%;
    }
    
    #navbar .friesMenu.opened span:nth-child(1){
        transform: translateY(calc(50px / 2 - 10px)) rotate(45deg);
    }
    
    #navbar .friesMenu.opened span:nth-child(2){
        width: 0;
    }
    
    #navbar .friesMenu.opened span:nth-child(3){
        transform: translateY(calc(-50px / 2 + 10px)) rotate(-45deg);
    }

    #navbar .menuBar{
        position: fixed;
        display: flex;
        flex-direction: column;
        gap: 20px;
        top: 120px;
        right: 0;
        width: 100%;
        height: calc(100% - 120px);
        background-color: var(--cor-fundo);
        border-top: 1px solid rgb(255, 233, 233);
        padding: 20px;
        transform: translateY(-20px);
        transition: .3s ease;
        opacity: 0;
        pointer-events: none;
        z-index: 999;
        overflow-y: auto;
    }

    #navbar .menuBar.opened{
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }

    #navbar .menuBar .menus{
        flex-direction: column;
        gap: 20px;
    }

    #navbar .menuBar .menus .menu a{
        width: 100%;
        padding: 20px;
    }

    #header{
        flex-direction: column;
    }

    #content > section .title{
        font-size: 24pt;
    }

    #content .row-section{
        flex-direction: column;
    }

    #content .video-example .title{
        text-align: center;
    }

    #content .services-resume{
        display: flex;
        flex-direction: column;
    }

    #content .services-resume .service{
        justify-content: space-evenly;
        width: 100%;
    }

    #content .featured-services .wrapper{
        display: flex;
        flex-direction: column;
    }

    #content .video-example .iframe-container{
        border-radius: 20px;
    }

    #content .customers-reviews .wrapper{
        display: flex;
        flex-direction: column;
    }

    #content .customers-reviews .wrapper .review .message .arrow{
        width: 40px;
        height: 40px;
    }

    #footer .columns{
        grid-template-areas: "col1 col1 col1" "col2 col2 col2" "col3 col3 col3" "col4 col4 col4" "col5 col5 col5";
    }

    #footer .columns .column{
        align-items: center!important;
    }
}